
.header__img{
    width: 100%;
    text-align: center;
}
.header__img img{
width: 500px;
margin-top:3rem;
margin-bottom: 2rem;
}

.text{
    margin-top: 250px;
}

@media (max-width:1024px) {
    .header__img{
        display: flex;
        flex-direction: column;
    }
    .text{
        margin-top: 50px;
    }
}
